<!-- advertisement -->

<section class="advertisement">
  <h2 class="visually-hidden">Advertisement</h2>
  <div class="marquee">
    <div class="marquee_inner">
      <p class="marquee_line">
        <span class="highlight">Master</span> your photography
        <span class="highlight">skills with us!</span>
      </p>
      <p class="marquee_line">
        <span class="highlight">Master</span> your photography
        <span class="highlight">skills with us!</span>
      </p>
    </div>
  </div>
</section>
