<header class="header">
  <div class="container">
    <nav class="header-nav">
      <div class="left-wrapp">
        <!-- logo -->
        <a href="./index.html" class="header-logo">
          <svg class="icon-logo" width="123" height="16">
            <use href="./img/sprite.svg#logo"></use>
          </svg>
        </a>

        <!-- menu -->
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#about-us" class="nav-link">About us</a>
          </li>
          <li class="nav-item">
            <a href="#our-courses" class="nav-link">Our courses</a>
          </li>
          <li class="nav-item">
            <a href="#our-mentors" class="nav-link">Our mentors</a>
          </li>
          <li class="nav-item">
            <a href="#reviews" class="nav-link">Reviews</a>
          </li>
          <li class="nav-item">
            <a href="#contacts" class="nav-link">Contacts</a>
          </li>
        </ul>
        <div class="mobile-icon-wrap">
          <a href="#sign_up" class="camera">
            <svg class="camera-icon" width="16" height="16">
              <use href="./img/sprite.svg#camera"></use>
            </svg>
          </a>
          <button type="button" class="burger-menu js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu">
            <svg class="burger-icon" width="32" height="22">
              <use href="./img/sprite.svg#burger-nav"></use>
            </svg>
          </button>
        </div>
      </div>

      <!-- button -->
      <a href="#sign_up" class="header-link">Sign up</a>
    </nav>
  </div>
</header>