<section class="hero-section">

    <div class="container">

        <h1 class="hero-title">Discover the magic of photography in our school</h1>

        <p class="hero-text">
            Our photography school offers an unforgettable journey,
            where you can learn the basics of composition, master technical skills,
            translate your unique ideas.
        </p>
        <div class="">
            <picture>
                 <source
                    srcset="./src/img/Hero/Hero-desctop.jpg 1x, /src/img/Hero/Hero-desctop@2x.jpg 2x"
                    media="(min-width: 1440px)">
                <source
                    srcset="./src/img/Hero/Hero_tablet.jpg 1x, /src/img/Hero/Hero_tablet@2x.jpg 2x"
                    media="(min-width: 768px)">
                <source
                    srcset="./src/img/Hero/Hero_mobile.jpg 1x, /src/img/Hero/Hero_mobile@2x.jpg 2x"
                    media="(min-width: 375px)"> 
                <img src="./src/img/Hero/Hero-desctop.jpg" alt="photographer" width="700"
                    class="hero-img">

            </picture>

        </div>



    </div>

</section>