<section class="hero-section container">


    <div class="hero-section-container ">

        <div class="hero-title">

            <h1 class="hero-title-h">Discover the magic of <span class="hero-title-span"> photography</span> in our
                school</h1>

            <p class="hero-title-p">
                Our photography school offers an unforgettable journey,
                where you can learn the basics of composition, master technical skills,
                translate your unique ideas.
            </p>

        </div>

        <div class="star-icon">
            <div class="icon">
                <div class="icon-girl2"><img src="./img/Hero-reviews/girl2.png" alt="girl" width="54" height="54"
                        class=""></div>
                <div class="icon-boy1"><img src="./img/Hero-reviews/boy1.png" alt="boy" width="54" height="54" class="">
                </div>
                <div class="icon-girl1"><img src="./img/Hero-reviews/girl1.png" alt="girl" width="54" height="54"
                        class=""></div>
            </div>

            <div class="star">
                <div class="hero-ison-star">

                    <a class="" href=""><svg class="hero-star" width="20" height="20">
                            <use href="./img/sprite.svg#star"></use>
                        </svg></a>
                </div>

                <div class="hero-text-p12">
                    <p class="hero-text-star-p1">Reviews</p>
                    <p class="hero-text-star-p2"> +1500</p>

                </div>

            </div>

        </div>

        <div class="hero-icon-arrow2">
            <a href="#reviews" class="hero-text-icon">Our happy students</a>
            <!-- <p class="hero-text-icon">Our happy students</p> -->

            <a class="" href=""><svg class="hero-arrow-2" width="18" height="18">
                    <use href="./img/sprite.svg#arrow-2"></use>
                </svg></a>

        </div>

        <div class="hero-img-desctop">
            <picture>

                <source srcset="./img/Hero/Hero-desctop.jpg 1x, 
                    ./img/Hero/Hero-desctop@2x.jpg 2x" media="(min-width:1440px)">

                <source srcset="./img/Hero/Hero-desctop.jpg 1x, 
                    ./img/Hero/Hero-desctop@2x.jpg 2x" media="(min-width:1280px)">

                <source srcset="./img/Hero/Hero-tablet.jpg 1x, 
                    ./img/Hero/Hero-tablet@2x.jpg 2x" media="(min-width:768px)">

                <source srcset="./img/Hero/Hero-mobile.jpg 1x,
                    ./img/Hero/Hero-mobile@2x.jpg 2x" media="(min-width:320px)">

                <img src="./img/Hero/Hero-desctop.jpg" alt="photographer" width="" class="hero-img">
            </picture>
        </div>

    </div>

    </ul>

    </div>

</section>