<section class="hero-section">
  <div class="container">
    <div class="hero-section-container">
      <div class="two-pitures">
        <div class="text-wrapp">
          <h1 class="hero-title-h">
            Discover the magic of
            <span class="hero-title-span"> photography </span> in our school
          </h1>
          <p class="hero-title-p">
            Our photography school offers an unforgettable journey, where you
            can learn the basics of composition, master technical skills,
            translate your unique ideas.
          </p>
        </div>

        <div class="star-icon">
          <div class="textes">
            <div class="icon">
              <img
                class="icon-girl2"
                src="./img/hero-reviews-img/hero-reviews-3.png"
                alt="girl"
                width="54"
                height="54"
              />
              <img
                class="icon-boy1"
                src="./img/hero-reviews-img/hero-reviews2.png"
                alt="boy"
                width="54"
                height="54"
              />
              <img
                class="icon-girl1"
                src="./img/hero-reviews-img/hero-reviews1.png"
                alt="girl"
                width="54"
                height="54"
              />
            </div>
          </div>
          <div class="hero-icon-arrow2">
            <a href="#reviews" class="hero-text-icon"> Our happy students </a>
            <a href="">
              <svg class="hero-arrow-2" width="18" height="18">
                <use href="./img/sprite.svg#arrow-2"></use>
              </svg>
            </a>
          </div>
          <div class="star">
            <div class="hero-ison-star">
              <a class="" href="">
                <svg class="hero-star" width="20" height="20">
                  <use href="./img/sprite.svg#star"></use>
                </svg>
              </a>
            </div>
            <div class="hero-text-p12">
              <p class="hero-text-star-p1">Reviews</p>
              <p class="hero-text-star-p2">+1500</p>
            </div>
          </div>
        </div>
      </div>

      <div class="hero-img-desctop">
        <picture>
          <source
            srcset="./img/hero-img/hero-1440.png 1x, ./img/Hero/hero-1440@2x.png 2x"
            media="(min-width:1440px)"
          />

          <source
            srcset="./img/hero-img/hero-1280.png 1x, ./img/hero/hero-1280@2x.png 2x"
            media="(min-width:1280px)"
          />

          <source
            srcset="./img/hero-img/hero-tab.png 1x, ./img/hero/hero-tab@2x.png 2x"
            media="(min-width:768px)"
          />

          <source
            srcset="./img/hero-img/hero-mob.png 1x, ./img/hero/hero-mob@2x.png 2x"
            media="(min-width:320px)"
          />

          <img
            src="./img/hero-img/hero-desc.png"
            alt="photographer"
            width=""
            class="hero-img"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
