<!--   MENTORS-->

<section class="our-mentors">
    <div class="container mentors-container">
        <h2 class="mentors-title" id="our-mentors">Our <span class="mentors-accent">Mentors</span></a></h2>
            <ul class="list mentors-list">
                <li class="mentors-list-item">
                    <img class="mentors-image" srcset="./img/Mentors/mentors1.png 1x,
                     ./img/Mentors/mentors1@2x.png 2x" 
                     src="./img/Mentors/mentors1.png" 
                     alt="Portrait of Emilia Smith" width="180">
                    <div class="mentors-description">
                        <h3 class="mentors-name">Emilia Smith</h3>
                        <p class="mentors-text">1.5 years of experience</p>
                    </div>
                </li>
                <li class="mentors-list-item">
                    <img class="mentors-image" srcset="./img/Mentors/mentors2.png 1x,
                    ./img/Mentors/mentors2@2x.png 2x"
                    src="./img/mentors2.png" alt="Portrait of Alex Lebedev" width="180" height="180">
                        <div class="mentors-description">
                            <h3 class="mentors-name">Alex Lebedev</h3>
                            <p class="mentors-text">3.5 years of experience</p>
                        </div>
                    </img>
                </li>
                <li class="mentors-list-item">
                    <img class="mentors-image" srcset="./img/Mentors/mentors3.png 1x,
                    ./img/Mentors/mentors3@2x.png 2x"
                    src="./img/Mentors/mentors3.png" alt="Portait of Mia Dubrovska" width="180">
                        <div class="mentors-description">
                            <h3 class="mentors-name">Mia Dubrovska</h3>
                            <p class="mentors-text">2.0 years of experience</p>
                        </div>
                    </img>
                </li>
                <li class="mentors-list-item">
                    <img class="mentors-image" srcset="./img/Mentors/mentors4.png 1x,
                    ./img/Mentors/mentors4@2x.png 2x"
                    src="./img/Mentors/mentors4.png" alt="Portait of Eliot Kovalev" width="180">
                        <div class="mentors-description">
                            <h3 class="mentors-name">Eliot Kovalev</h3>
                            <p class="mentors-text">4.0 years of experience</p>
                        </div>
                    </img>
                </li>
            </ul>
        
    </div>
    </section>