<!-- mobile-menu -->
<div class="menu-container" id="mobile-menu">
    <button class="close-menu-button js-close-menu">
        <svg class="close-menu" width="32" height="32">
          <use href="../img/sprite.svg#close"></use>
        </svg>
      </button>
<ul class="mobile-list">
    <li class="menu-item"><a href="#about-us">About us
    </a>
</li>
    <li class="menu-item"><a href="#our-courses">Our courses
    </a>
</li>
    <li class="menu-item"><a href="#our-mentors">Our mentors
    </a>
</li>
    <li class="menu-item"><a href="#reviews">Reviews
    </a>
</li>
    <li class="menu-item"><a href="#contacts">Contacts
    </a>
</li>
</ul>

<picture class="menu-img" alt="camera">
  <!-- Tablet screen -->
  <source
    media="(min-width: 768px)"
    srcset="../img/Mobile-menu/Mobile-menu-tablet.jpg 1x, ../img/Mobile-menu/Mobile-menu-tablet@2x.jpg 2x"
  />
  <!-- Mobile screen -->
  <source
    media="(max-width: 767px)"
    srcset="../img/Mobile-menu/Mobile-menu-mob.jpg 1x, ../img/Mobile-menu/Mobile-menu-mob@2x.jpg 2x"
  />
  <img
    class="products-ill"
    src="./images/products/img-1_mob.png"
    alt="Dark chocolate with orange"
    width="230"
    height="201"
  />
</picture>

</div>



<!-- paste to header -->

<!-- <button type="button" class="burger-menu js-open-menu"
aria-expanded="false"
aria-controls="mobile-menu">
    <svg class="burger-icon" width="32" height="22">
      <use href="./img/sprite.svg#burger-nav"></use>
    </svg>
  </button> -->

  <!-- paste to body -->

  <!-- <script src="./js/modal.js"></script>
  <script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
>
</script>
  <script defer src="./js/mobile-menu.js"></script> -->