<section class="reviews">
  <div class="container">
    <h2 class="title-reviews" id="reviews">Reviews</h2>
    <ul class="hero-list-reviews list">
      <li class="hero-line-reviews">
        <div class="container-star-reviews">
          <div class="reviews-all">
            <div class="reviews-info">
              <img
                class="image-reviews"
                src="./img/Reviews/reviews1x.png"
                srcset="
                  ./img/Reviews/reviews1x.png 1x,
                  ./img/Reviews/reviews2x.png 2x
                "
                height="56"
                width="56"
                alt="Student-photo"
              />
            </div>
            <div class="text-info">
              <h3 class="title-reviews-peoples">Abraham Baker</h3>
              <p class="text-reviews-peoples">Student</p>
            </div>
          </div>
          <ul class="hero-list-svg-reviews list">
            <li class="svg-reviews-line">
              <svg class="svg-tranform-reviews" width="20" height="20">
                <use href="./img/sprite.svg#star-full"></use>
              </svg>
            </li>
            <li class="svg-reviews-line">
              <svg class="svg-tranform-reviews" width="20" height="20">
                <use href="./img/sprite.svg#star-full"></use>
              </svg>
            </li>
            <li class="svg-reviews-line">
              <svg class="svg-tranform-reviews" width="20" height="20">
                <use href="./img/sprite.svg#star-full"></use>
              </svg>
            </li>
            <li class="svg-reviews-line">
              <svg class="svg-tranform-reviews" width="20" height="20">
                <use href="./img/sprite.svg#star-full"></use>
              </svg>
            </li>
            <li class="svg-reviews-line">
              <svg class="svg-tranform-reviews-last" width="20" height="20">
                <use href="./img/sprite.svg#star-full"></use>
              </svg>
            </li>
          </ul>
        </div>
        <p class="text-reviews-dubl">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>
      <li class="hero-line-reviews-two">
        <div class="container-star-reviews">
          <div class="reviews-all">
            <div class="reviews-info">
              <img
                class="image-reviews"
                src="./img/Reviews/reviews1x2.png"
                srcset="
                  ./img/Reviews/reviews1x2.png 1x,
                  ./img/Reviews/reviews2x2.png 2x
                "
                height="56"
                width="56"
                alt="Student-photo"
              />
            </div>
            <div class="text-info">
              <h3 class="title-reviews-peoples">Amanda Lowery</h3>
              <p class="text-reviews-peoples">Student</p>
            </div>
          </div>
          <ul class="hero-list-svg-reviews list">
            <li class="svg-reviews-line">
              <svg class="svg-tranform-reviews" width="20" height="20">
                <use href="./img/sprite.svg#star-full"></use>
              </svg>
            </li>
            <li class="svg-reviews-line">
              <svg class="svg-tranform-reviews" width="20" height="20">
                <use href="./img/sprite.svg#star-full"></use>
              </svg>
            </li>
            <li class="svg-reviews-line">
              <svg class="svg-tranform-reviews" width="20" height="20">
                <use href="./img/sprite.svg#star-full"></use>
              </svg>
            </li>
            <li class="svg-reviews-line">
              <svg class="svg-tranform-reviews" width="20" height="20">
                <use href="./img/sprite.svg#star-full"></use>
              </svg>
            </li>
            <li class="svg-reviews-line">
              <svg class="svg-tranform-reviews-last" width="25.2" height="27">
                <use class="svg" href="./img/sprite.svg#star-full"></use>
              </svg>
            </li>
          </ul>
        </div>
        <p class="text-reviews">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
      </li>
    </ul>
  </div>
</section>
