<section class="reviews">
    <div class="container">
        <h2 class="title-reviews">Reviews</h2>
        <ul class="hero-list-reviews list">
            <li class="hero-line-reviews">
                <div class="container-star-reviews">
                    <div class="reviews-all">
                    <div class="reviews-info">
                        <img class="image-reviews" src="../img/Reviews/Reviews1.jpg">
                        </div>
                        <div class="text-info">
                    <h3 class="title-reviews-peoples">Amanda Lowery</h3>
                    <p class="text-reviews-peoples">Student</p>
                    </div>
                </div>
                    <ul class="hero-list-svg-reviews list">
                        <li class="svg-reviews-line">
                            <a href="#" class="svg-reviews-link link">
                              <svg
                                class="svg-tranform-reviews"
                                width="20"
                                height="20"
                              >
                                <use
                                  href="../img/sprite.svg#star-full"
                                ></use>
                              </svg>
                            </a>
                          </li>
                          <li class="svg-reviews-line">
                            <a href="#" class="svg-reviews-link link">
                              <svg
                                class="svg-tranform-reviews"
                                width="20"
                                height="20"
                              >
                                <use
                                  href="../img/sprite.svg#star-full"
                                ></use>
                              </svg>
                            </a>
                          </li>
                          <li class="svg-reviews-line">
                            <a href="#" class="svg-reviews-link link">
                              <svg
                                class="svg-tranform-reviews"
                                width="20"
                                height="20"
                              >
                                <use
                                  href="../img/sprite.svg#star-full"
                                ></use>
                              </svg>
                            </a>
                          </li>
                          <li class="svg-reviews-line">
                            <a href="#" class="svg-reviews-link link">
                              <svg
                                class="svg-tranform-reviews"
                                width="20"
                                height="20"
                              >
                                <use
                                  href="../img/sprite.svg#star-full"
                                ></use>
                              </svg>
                            </a>
                          </li>
                          <li class="svg-reviews-line">
                            <a href="#" class="svg-reviews-link-last link">
                              <svg
                                class="svg-tranform-reviews-last"
                                width="20"
                                height="20"
                              >
                                <use
                                  href="../img/sprite.svg#star-full"
                                ></use>
                              </svg>
                            </a>
                          </li>
                    </ul>
                </div>
                <p class="text-reviews">
                    The courses at the photography school exceeded all my expectations. I gained not only technical knowledge, but also inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops helped me understand different styles of photography.
                </p>
            </li>
            <li class="hero-line-reviews">
                <div class="container-star-reviews">
                    <div class="reviews-all">
                        <div class="reviews-info">
                            <img class="image-reviews" src="../img/Reviews/Reviews2.jpg">
                            </div>
                            <div class="text-info">
                        <h3 class="title-reviews-peoples">Amanda Lowery</h3>
                        <p class="text-reviews-peoples">Student</p>
                        </div>
                    </div>
                    <ul class="hero-list-svg-reviews list">
                        <li class="svg-reviews-line">
                            <a href="#" class="svg-reviews-link link">
                              <svg
                                class="svg-tranform-reviews"
                                width="20"
                                height="20"
                              >
                                <use
                                  href="../img/sprite.svg#star-full"
                                ></use>
                              </svg>
                            </a>
                          </li>
                          <li class="svg-reviews-line">
                            <a href="#" class="svg-reviews-link link">
                              <svg
                                class="svg-tranform-reviews"
                                width="20"
                                height="20"
                              >
                                <use
                                  href="../img/sprite.svg#star-full"
                                ></use>
                              </svg>
                            </a>
                          </li>
                          <li class="svg-reviews-line">
                            <a href="#" class="svg-reviews-link link">
                              <svg
                                class="svg-tranform-reviews"
                                width="20"
                                height="20"
                              >
                                <use
                                  href="../img/sprite.svg#star-full"
                                ></use>
                              </svg>
                            </a>
                          </li>
                          <li class="svg-reviews-line">
                            <a href="#" class="svg-reviews-link link">
                              <svg
                                class="svg-tranform-reviews"
                                width="20"
                                height="20"
                              >
                                <use
                                  href="../img/sprite.svg#star-full"
                                ></use>
                              </svg>
                            </a>
                          </li>
                          <li class="svg-reviews-line">
                            <a href="#" class="svg-reviews-link-last link">
                              <svg
                                class="svg-tranform-reviews-last"
                                width="25.2"
                                height="27"
                              >
                                <use class="svg"
                                  href="../img/sprite.svg#star-full"
                                ></use>
                              </svg>
                            </a>
                          </li>
                    </ul>
                </div>
                <p class="text-reviews">
                    The courses at the photography school exceeded all my expectations. I gained not only technical knowledge, but also inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops helped me understand different styles of photography.
                </p>
            </li>
        </ul>
    </div>
</section>