<!-- Sign UP -->
<section class="sign-up-section">
  <div class="global-section-container container">
    <form>
      <div class="form-container">
        <h2 class="title" id="sign_up">
          Sign <span class="title-accent">Up</span>
        </h2>
        <p class="form-desc">
          Please use the form below to contact us. Enter your name, email, and
          message and we'll get back to you shortly.
        </p>
        <label for="user-name" class="user-name">
          <input
            class="form-input"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Enter your name"
            pattern="[A-Za-z]{3,}"
            title="The name should contain at least 3 characters"
            required
          />
        </label>
        <label for="user-email" class="user-email">
          <input
            class="form-input"
            type="email"
            name="user-email"
            id="user-email"
            placeholder="Enter your email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            title="Wrong email"
            required
          />
        </label>
        <label for="user-message" class="input-message">
          <textarea
            class="form-input"
            name="user-message"
            id="user-message"
            rows="6"
            placeholder="Message"
            minlength="5"
            required
          ></textarea>
        </label>
        <button class="send-btn" type="submit">Send</button>
        <p class="btn-desc">
          By clicking on &#8220;Send&#8220; button, you agree to our
          <a class="policy" href="#">Privacy Policy</a>, and allow Promodo to
          use this information for marketing purposes.
        </p>
      </div>
    </form>
    <div class="photo-container">
      <!-- Desktop screen -->
      <picture class="photo-one-container">
        <source
          media="(min-width: 1280px)"
          class="photo-one"
          srcset="
            ./img/Sing_up/sing_up_camera1-1280.png    1x,
            ./img/Sing_up/sing_up_camera1-1280-2x.png 2x
          "
        />
        <source
          media="(min-width: 1440px)"
          class="photo-one-big"
          srcset="
            ./img/Sing_up/sing_up_camera1-1440.png    1x,
            ./img/Sing_up/sing_up_camera1-1440-2x.png 2x
          "
          width="178"
          height="173"
        />
        <img
          class="photo-one"
          src="./img/Sing_up/sing_up_camera1-1280.png"
          alt="#"
        />
      </picture>
      <picture class="photo-two-container">
        <!-- Desktop screen -->
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/Sing_up/sing_up_camera2-1280.png    1x,
            ./img/Sing_up/sing_up_camera2-1280-2x.png 2x
          "
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/Sing_up/sing_up_camera2-1440.png    1x,
            ./img/Sing_up/sing_up_camera2-1440-2x.png 2x
          "
        />
        <img
          class="photo-two"
          src="./img/Sing_up/sing_up_camera2-1440.png"
          alt="#"
        />
      </picture>
    </div>
  </div>
</section>
