/* advertisement */

.marquee {
  overflow: hidden;
  color: #BEA69E;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}


  @media only screen and (min-width: 768px) {
    .marquee {
        font-size: 40px;
        line-height: 1.25;      
    }
  }
  
  @media only screen and (min-width: 1280px) {
      .marquee {
        font-size: 59px;
        line-height: 1.08;
    }
}


  .marquee__line-accent {
    color: var(--white);
  }
  
  .marquee__inner {
    display: flex;
    stroke-width: 1px;
    border-top: 1px solid rgba(255, 255, 255, 0.20);
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
  }
  
  .marquee__line {
    flex-shrink: 0;
    margin: 0;
    padding: 20px 10px;
    min-width: 100%;
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @media only screen and (min-width: 768px) {
    .marquee__line {
        padding: 24px 15px;    
    }
  }

  @keyframes marqueeLine {
    from {
      transform: translateX(0);
    }
    
    to {
      transform: translateX(-100%);
    }
  }