.header {
  top:20px;
  position: absolute;
  width: 100%; 
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

@media screen and (min-width: 1280px) {
  .header-nav {
    gap: 20px;
  }
}

.left-wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-grow: 1;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: var(--black);
  padding: 0 20px;
}

@media screen and (min-width: 1280px) {
  .left-wrapp {
    padding: 0 50px;
  }
}

.icon-logo {
  fill: var(--white);
}
.nav-list {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 1279px) {
  .nav-list {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .nav-list {
    gap: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .nav-list {
    gap: 40px;
  }
}

.nav-link {
  display: block;

  color: var(--white);
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;

  padding: 21px 0;

  transition: color var(--animation);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--brown);
}

.mobile-icon-wrap {
  display: flex;
  gap: 14px;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .mobile-icon-wrap {
    display: none;
  }
}

.camera {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: var(--gray);
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .camera {
    display: none;
  }
}

.camera-icon {
  fill: rgba(190, 166, 158, 0.4);

  transition: fill var(--animation);
}

.camera-icon:active {
  fill: var(--brown);
}

.camera-icon:hover,
.camera-icon:focus {
  fill: var(--brown);
}

.burger-menu {
  padding: 14px 0;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    padding: 16px 0;
  }
}

@media screen and (min-width: 1280px) {
  .burger-menu {
    display: none;
  }
}

.burger-icon {
  stroke: var(--white);
}

@media screen and (min-width: 768px) {
  .burger-icon {
    width: 40px;
    height: 28px;
  }
}

.header-link {
  display: block;
  padding: 16px 58px;

  border-radius: 12px;
  background-color: var(--white);

  color: var(--black);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.55;
  text-transform: uppercase;

  transition: background-color var(--animation), color var(--animation);
}

.header-link:hover,
.header-link:focus {
  background-color: var(--gray);
  color: var(--brown);
}

@media screen and (max-width: 767px) {
  .header-link {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header-link {
    padding: 16px 84px;
  }
}
