.hero-section {
  border-radius: 30px;
  background: #1d1d1d;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  display: block;
  max-width: 563px;
  padding-left: 50px;
}
.hero-title-h {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 68px;
  letter-spacing: -2.56px;
  padding-top: 80px;
}

.hero-title-span {
  color: #bea69e;
  font-size: 64px;
  font-style: italic;
  font-weight: 400;
  line-height: 68px;
  letter-spacing: -2.56px;
}
.hero-title-p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  padding-top: 20px;
  max-width: 418px;
}
.hero-item {
  display: flex;
  height: 100px;
  flex-wrap: wrap;
}
.hero-image {
  padding-left: 50px;
  padding-top: 136px;
}

.hero-text-icon {
  width: 82px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.64px;
}
.hero-icon-arrow2 {
  padding-bottom: 50px;
  fill: #fff;
}
.hero-item-img {
  border-radius: 100px;
}

.left-boy {
  position: relative;
  top: 0px;
  left: 100px;
}
.left-girl1 {
  position: relative;
  top: 0px;
  left: px;
}

.left-girl2 {
  position: relative;
  top: 0px;
  left: -95px;
}

.hero-arrow-2 {
  fill: #fff;
  stroke-width: 1.5px;
  height: 8.66px;
  width: 18px;
}
.hero-star {
  width: 20px;
  height: 20px;
  /* fill: #bea69e; */
  border-color: #1d1d1d;
  border-width: 2px;
  border: 2px;
}

.hero-ison-star {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 100px;
  display: flex;
  padding: 15px;
  /* justify-content: center; */
  /* align-items: center;  */
  margin-left: 55px;
   background: #bea69e; 
}

.hero-text-star-p1 {
  width: 57px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.64px;
  padding-left: 12px;
  margin-bottom: 8px;
}

.hero-text-star-p2 {
  width: 57px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.64px;
  padding-left: 12px;
}

.hero-img-desctop {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 272px;
  position: relative;
  top: -420px;
  left: 0px;

}
.hero-container {
  margin-top: 80px;
  margin-bottom: 150px;
}
