/* ========================= MOBILE ===================== */
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .hero-section {
    max-width: 704px;
    padding: 0 32px;
  }
  .hero-title-h {
    font-size: 60px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -2.4px;

    padding-top: 64px;
    padding-bottom: 0px;
    max-width: 516px;
  }
  .hero-title-span {
    font-size: 60px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -2.4px;
  }
  .hero-title {
    max-width: 768px;
  }
  .hero-title-p {
    padding-top: 20px;
    max-width: 402px;
  }

  .hero-item-imga {
    width: 54px;
    height: 54px;
  }
  .hero-ison-star {
    width: 50px;
    height: 50px;
    padding: 15px;
    order: 2;
    position: relative;
    top: 0px;
    left: -68px;
  }

  .left-boy {
    top: 0px;

    left: 81px;
  }

  .left-girl1 {
    top: 0px;
    left: -17px;
  }
  .left-girl2 {
    top: 0px;

    left: -111px;
  }

  .hero-text-p12 {
    order: 2;
  }
  .hero-icon-arrow2 {
    flex-direction: column;
    justify-content: center;
    align-items: normal;
  }
  .hero-arrow-2 {
    position: relative;
    left: -19px;
    top: -5px;
    margin-top: 8px;
  }
  .hero-text-icon {
    padding-top: 41px;
    width: 82px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.64px;
    position: relative;
    left: -30px;
    top: 4px;
    margin-left: 10px;
    margin-right: 40px;
  }
  .hero-text-star-p1 {
    padding-left: 0;
    margin-left: 12px;
    margin-bottom: 0px;
    position: relative;
    top: 2px;
    left: -68px;
  }
  .hero-text-star-p2 {
    padding-top: 8px;
    padding-left: 0;
    margin-left: 12px;
    line-height: 20px;
    position: relative;
    top: 2px;
    left: -68px;
  }
  .hero-img-desctop {
    padding-left: 123px;
    padding-right: 123px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;

    padding: 0 100px;
  }
  .hero-section {
    max-width: 1080px;
    padding: 0 50px;
    max-height: 600px;
  }
  .hero-title-h {
    max-width: 563px;
    font-size: 64px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: -2.56px;
    padding-top: 80px;
  }
  .hero-item {
    max-width: 1000px;
    max-height: 240px;
  }
  .hero-title-span {
    font-size: 64px;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: -2.56px;
  }

  .hero-icon-arrow2 {
    justify-content: flex-start;
  }
  .hero-ison-star {
    margin-left: 55px;
  }
  .hero-title-p {
    font-family: DM Sans;

    max-width: 404px;
  }
  .hero-item-imga {
    padding-top: 136px;
  }
  .hero-text-icon {
    padding-top: 136px;
  }
  .hero-ison-star {
    margin-top: 136px;
  }
  .hero-text-p12 {
    padding-top: 136px;
    max-height: 240px;
  }
  .hero-icon-arrow2 {
    max-height: 240px;
  }
  .hero-img-desctop {
    position: relative;
    top: -195px;
    left: 118px;
    padding: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .hero-section {
    max-width: 1240px;
    padding: 0 50px;
    max-height: 600px;
  }

  .hero-img-desctop {
    position: relative;
    top: -279px;
    left: 224px;
    padding: 0px;
    padding: 0px 100px 0px 0px;
  }
  .hero-item {
    max-width: 1000px;
    max-height: 240px;
  }

  .hero-text-p12 {
    max-height: 240px;
  }

  .hero-icon-arrow2 {
    max-height: 240px;
  }
}
