/* mobile-menu */

  .burger-menu-close {
position: absolute;
top: 20px;
right: 20px;
width: 32px;
height: 32px;
flex-shrink: 0;
background: transparent;
  }
  
  @media (min-width: 768px) {
    .burger-menu-close {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
    }
  }
  

.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 228px;
    height: 812px;
    padding: 0;
    z-index: 99;
    background: var(--brown, #BEA69E);
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
 .menu-container.is-open {
    transform: translateX(0);
  }
  .menu-container .burger-menu {
    position: absolute;
    top: 0;
    right: 0;
  }

@media screen and (min-width: 768px) {
    .menu-container {
        width: 480px;
        height: 1024px;
        flex-shrink: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    .menu-container {
   display: none;
    }
  }

  
.mobile-list {
padding-left: 20px;
padding-top: 180px;
display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
    
   
}
@media screen and (min-width: 768px) {
.mobile-list {
padding-left: 64px;
padding-top: 232px;
display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 28px;
        }
      }

.menu-item:hover,
.menu-item:focus {
    font-weight: 700;
}

.menu-item {
    color: var(--black, #121212);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;}


.menu-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 768px) {
.menu-img {
width: 100%;
}
}
