/* mobile-menu */


.menu-box {

    background-color: var(--brown);

    max-width: 218px;

    margin-left: auto;
    display: flex;
    flex-direction: column;
    
    align-items: flex-end;
    justify-content: flex-start;
  }

  @media only screen and (min-width: 768px) {
    .menu-box {
      max-width: 480px;
    }
  }
  

  
  .menu-btn {
    display: flex;
    
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  
  .close-btn {
    stroke: var(--black);
  }

 
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  
    background-color: var(--primary-background);
    z-index: 999;
    display: flex;
    flex-direction: column;
  
    height: 100%;
    overflow-y: auto;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    margin-bottom: auto;
  
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  @media only screen and (min-width: 768px) {
    .menu-container .menu-btn {
      right: 32px;
    }
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    padding-top: 180px;
    padding-left: 20px;
    margin-right: auto;
    margin-bottom: 133px;
  }
  
  @media only screen and (min-width: 768px) {
    .mobile-menu-list {
      gap: 28px;
      padding-top: 232px;
      padding-left: 64px;
      margin-bottom: 114px;

    }
  }

  .link-mobile-menu {
    color: var(--black);
    font-size: 14px;
    
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
  
    text-decoration: none;
    
    list-style-type: none;
    display: block;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.link-mobile-menu-first {
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
}

  .link-mobile-menu:hover,
  .link-mobile-menu:focus,
  .link-mobile-menu-first:hover,
  .link-mobile-menu-first:focus {
    color: var(--white);
  }
  
