
.our_courses .container {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
}
 

.caption {
font-size: 28px;
font-weight: 500;
line-height: 1.14;
letter-spacing: -0.04em;
}

.caption_span {
color: var(--brown);
}

.desc {
font-size: 14px;
line-height: 1.28;
letter-spacing: -0.02em;

width: 330px;
margin-top: 20px;
margin-bottom: 40px;
}

.our_courses_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}


.our_courses_list {
    
    list-style-type: none;
    counter-reset: item;
    padding: 0;
  }

.our_courses_item {
    position: relative;

    counter-increment: item;
    margin-bottom: 10px; /* Просторовий відступ між картками */
    color: rgba(255, 255, 255, 0.4);

    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, #060707 0%, #1D1D1D 100%);


    width: 335px;
    height: 398px;


  }
.our_courses_item::before {
    position: absolute;
    top: 28px;
    left: 28px;

    content: "0" counter(item) ""; /* Додаємо номери з лідируючими "0" */
    font-weight: bold;
    margin-right: 5px; /* Просторовий відступ між номером і текстом */
  }



.icon-link {
    display: flex;
    justify-content: end;
}


.our_courses_box {
    position: relative;
    padding-top: 28px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 28px;
}

.card-button {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
   
    background-color: #1D1D1D;
    border-radius: 50%;
    border: 1px solid #1D1D1D;
}


.card-button:hover {
    background-color: var(--brown);
}


.card-icon {
stroke: #777777;
}

.card-icon:hover {
    stroke: var(--white);
}

.subtitle_card {
color: var(--white);
max-width: 246px;
font-size: 28px;
font-weight: 500;
line-height: 1.14;
margin-bottom: 164px;
margin-top: 28px;
}


.text_card {
color: rgba(255, 255, 255, 0.50);
font-size: 14px;
line-height: 1.28;
letter-spacing: -0.02em;
max-width: 265px;
}