
/* variables */
@import url('./variables.css');

/* reset */
@import url('./reset.css');

/* base */
@import url('./base.css');

/* header */
@import url('./header.css');

/* mobile menu */
/* @import url(''); */

/* hero */
/* @import url(''); */

/* about us */
/* @import url(''); */

/* our courses */
/* @import url(''); */

/* sign up */
/* @import url(''); */

/* reviews */
/* @import url(''); */

/* footer */
/* @import url(''); */

