:root {
  /* Colors  */

  --black: #121212;
  --gray: #1d1d1d;
  --gradient: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  --brown: #bea69e;
  --white: #fff;
  --icon-color: #777777;

  --animation: 300ms ease;


}
